select#modules { height: 30px; width: 150px;}

.module-form{background: #fafafa; padding: 10px;}

.title { background: #e5e5e5 none repeat scroll 0 0; border: 1px solid #ccc; padding: 10px 0 10px 10px;}

.module-selection {
    padding: 10px 0;
    border: 1px solid #ccc;
    border-top: none;
}

.module-selection label {
    font-size: 14px;
    font-weight: bold;
    margin-left: 14px;
}

.list-layout-block { background: #fafafa none repeat scroll 0 0; clear: both; float: left; padding: 1%; width: 98%; border: 1px solid #ccc; border-top: none; margin-left: -1px;}

.list-layout-block #fieldlist { border: 1px solid #bbb; margin: 0 0; padding: 10px 10px 10px 10px; min-height: 500px;}

#divNewRow .added-new-row { clear: both; }

.le_field ,.le_row { width: 200px; float: left;border: 1px solid #94c1e8; background: #ecf1f4; padding: 2px; margin: 2px 3px; /*overflow: inherit;*/ clear: both; display: block; }
.le_panel_portal{ width: 200px;
    float: left;
    border: 1px solid #94c1e8;
    background: #ecf1f4;
    padding: 2px;
    margin: 2px 3px;
    overflow: inherit;
    clear: both;
    display: block;
}
.le_row_portal{ width: 100%;
    float: left;
    border: 1px solid #94c1e8;
    background: #ecf1f4;
    padding: 2px;
    margin: 2px 3px;
    overflow: inherit;
    clear: both;
    display: block;
}

.le_row_panel {
    background: #ddd none repeat scroll 0 0;
    clear: both;
    float: left;
    height: auto;
    margin: 2px 3px;
    padding: 2px 5px;
    width: 98%;
}
.field_tabindex, .field_label, .field_name, .panel_id, .field_required, .field_type ,.field_options{ display: none; }

.layout_div{ border: 1px solid #bbb; height: 520px; overflow-y:auto; background-color: #fafafa; float: left; min-width: 650px; max-width: 700px; margin: 0 20px 20px; width: auto;}
.layout_div.list{min-width: 526px;}
.layout_div.list .le_field{margin: 2px 10px;}

.sel-field-div{width:500px;}

#1014,#1015{ float: left; clear: none; }

.field-container {padding: 0.5%;border: none;padding: 7px; margin: 10px 10px; overflow:inherit; background: #f1f1f1; float: left; width: 95%;}

.field-container .fc-inner {float: left; clear: none;  max-width: 45%; width: 45%;border: 1px solid #94c1e8;}

.field-container .le_field .field{z-index: 99999;}

.btn-bar { padding-top: 10px;clear: both}

.btn-bar .blue-btn:hover{box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.27) inset; font-weight: bold; font-family: Arial,Verdana,Helvetica,sans-serif; }

.btn-bar .blue-btn{
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    -webkit-box-shadow:0 1px 0 rgba(0,0,0,0.05);
    -moz-box-shadow:0 1px 0 rgba(0,0,0,0.05);
    box-shadow:0 1px 0 rgba(0,0,0,0.05);
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -o-transition:all .5s;
    transition:all .5s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #4e8ccf;
    color: #4e8ccf;
    padding: 6px 15px;
    font-weight: bold;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    margin-right: 10px;
}

#fieldlayout .remove-field {float: right; }

#divNewRow button.remove-choice{ margin-left: 11px; margin-top: 4px; padding: 2px 5px; }
/*.sel-field-div .remove-field { padding: 2px 5px; }*/

#fieldlayout .field-container span{font-size: 12px;}
/*.sel-field-div span { float: left; margin-top: 4px; width: 90%; }*/

#layouts.layouts{width: 100%; margin: 10px 0 !important;}

#layouts .edit-view,
#layouts .detail-view,
#layouts .list-view { background: #4e8ccf none repeat scroll 0 0; color: #fff; cursor: pointer; display: inline-block; font-size: 13px; font-weight: 600; margin-bottom: 10px; margin-right: 15px; padding: 5px 10px; margin-top: 10px;}
#layouts .edit-view{margin-left: 14px;}
.layouts .edit-view  #editview:hover{color: white; }
.layouts .detail-view #detailview:hover{color: white; }
.layouts .list-view #listview:hover{color: white; }
.list-layout-block .le_field.sel-field-div div { display: inline-block; }

#sync_to_detailview{margin-left: 6px;}
